body, td, th
{
	font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12pt;
}
button
{
	background-color: #e0e0e0;
	border: 1px solid #7f7f7f;
	border-radius: 7px;
}
button:hover
{
	background-color: #99ccff;
}
button:active
{
	background-color: #ffcc99;
}
.buttonRow
{
	position: absolute;
	height: 100px;
	width: 98%;
	bottom: 8px;
}
.centered
{
	text-align: center;
}
.gridContainer
{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	text-align: center;
	vertical-align: top;
}
.highlight
{
	padding: 4px;
	background-color: #aaccff;
	border: 1px solid #3399cc;
	color: black;
	border-radius: 8px;
}
.moreInfoPage
{
	margin: 0 auto;
	width: 1000px;
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 16px;
	border: 1px solid #3f3f3f;
	border-radius: 24px;
}
.NotOK, .Error
{
	font-size: 18pt;
	font-weight: bold;
	color: darkred;
}
.OK
{
	font-size: 18pt;
	font-weight: bold;
	color: green;
}
.section
{
	text-decoration: underline;
	font-size: 11pt;
	font-weight: bold;
}
.ui-widget-header
{
	background-color: #99ccff;
	background-image: none;
	color: Black;
	border: 1px solid #336699;
}
.wizardPage
{
	background-color: #f0f0f0;
}
.wizardPage .header
{
	position: absolute;
	top: -72px;
	font-size: 56pt;
	color: #e0e0e0;
}
#buttonYes
{
	grid-column: 1;
	width: 90%;
	justify-self: center;
}
#buttonNo
{
	grid-column: 2;
	width: 90%;
	justify-self: center;
}
#buttonBack
{
	grid-column: 3;
	width: 90%;
	justify-self: center;
}
#buttonNext
{
	grid-column: 4;
	width: 90%;
	justify-self: center;
}
#dialog
{
	display: none;
}
#form
{
	position: absolute;
	background-color: white;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	box-shadow: 10px 10px 5px #7f7f7f;
	border-radius: 10px;
	border: 2px solid #e0e0e0;
	padding: 8px;
}
#moreInfo
{
	margin-left: 32px;
}
#moreInfo a
{
	font-size: 18pt;
	font-weight: bold;
	text-decoration: none;
	color: #00009f;
}
#moreInfo a:hover
{
	color: #3f3fff;
}
#question
{
	font-size: 14pt;
}
.buttonRow button
{
	font-size: 24pt;
}
#question, .buttonRow button
{
	/* font-weight: bold; */
	padding: 8px;
}
#title, #title select
{
	font-size: 24pt;
	font-weight: bold;
	padding: 8px;
	color: #a0a0a0;
}
